.footer {
     background-color: #022739;
     margin-top: 90px;
 font-family: "Montserrat",sans-serif;
}
.footer .Follow {
     margin-bottom: 27px;
}
.footer .Follow h3 {
     color: #fff;
     font-size: 25px;
     line-height: 30px;
     font-weight: 600;
     text-transform: uppercase;
     border-width: 1px;
     display: inline-block;
     padding-bottom: 2px;
     padding-bottom: 27px;
}
.footer span {
     font-size: 17px;
     display: block;
     color: #fff;
}
ul.link li a {
     color: #fff;
     font-size: 17px;
}
ul.link li a:hover {
     color: #878686;
}
.footer .Newsletter {
     padding: 13px 26px;
     padding-top: 10px;
     padding-right: 26px;
     padding-bottom: 10px;
     padding-left: 15px;
     border: #fff solid 1px;
     width: 100%;
     margin-bottom: 15px;
}
.footer .Subscribe {
     padding: 10px 30px;
     border: #0e0c0c solid 1px;
     background: #C0392B;
     color: #fff;
     float: right;
}
.footer .Subscribe:hover {
     color: #fff;
     background: #A21A0C;
}
.pdn-top-30 {
     padding-top: 35px;
}
ul.location_icon {
     list-style: none;
     margin: 0;
     padding: 0;
     width: 100%;
     float: left;
}
ul.location_icon li {
     float: left;
     height: 70px;
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding-right: 20px;
}
ul.location_icon li:last-child {
     padding-right: 0px;
}
ul.location_icon li a {
     margin-bottom: 23px;
}
ul.location_icon span {
     font-size: 17px;
     font-weight: 400;
}
.copyright {
     padding: 10px 0px 30px 0;
}
.copyright p {
     color: #fff;
     font-size: 16px;
     text-align: center;
     max-width: 594px;
     text-align: center;
     margin: 0 auto;
     width: 100%;
     padding-top: 10px;
     border-top: #807d7d solid 1px;
}
.copyright a {
     color: #fff;
}
.copyright a:hover {
     color: #15cfe5;
}

.owl-dot {
    background: #000 !important;
    width: 20px;
    height: 20px;
    margin-bottom: 25px !important;
    border-radius: 100%;
    margin: 0px 5px;
        margin-bottom: 0px;
}

.owl-dot.active {
    background: #15cfe5 !important;
}

.about_page .about {
     margin-bottom: 90px;
}
.about-bg {
     background-color: #b32137;
     margin-top: 90px;
}
.Books-bg .titlepage {
     margin-top: 90px;
}
.Books-bg .read-more {
     margin-bottom: 90px;
}
.about-bg .abouttitle h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
.contact-page .Contact {
     margin-top: 0px;
}
.contact-page .form-control {
     margin-bottom: 20px;
}
/* Here is the code for Responsive Footer */


@media (max-width: 980px) {

	.footer .Follow,
	.Newsletter .textarea,
	.Subscribe .copyright .container{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}