body
{
   background-color:white;
   font-family: 'Montserrat', sans-serif;
}
h1
{
  color: white;
}
/* Header **/
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: white;
	border-bottom:#C0392B 3px solid;
}
nav .logo img{

	width:230px;
	margin-top:-20px;

}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	margin-top:-170px;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #022739;
	text-decoration: none;
}
.btnid{
 background-color:#154360;
 color:white;
}
nav .links a hover{
background-color:#C0392B;
}



#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
		width:190px;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}

}

nav a:hover{
  color:#C0392B;
  font-weight:bold;
}

/* below header div copied from about us */
.vison-value-mission {
	position: relative;
	margin-top:80px;
	width: 200%;
	background-color:#022739;
	color:white;
	opacity:0.8;
	border: 2px solid #022739;
	height:150px;

}
.vison-value-mission h2 {
	display: block;
	margin-left:200px;
	margin-top: 60px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  color:#022739;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* below header div end  */
/*...........footer.................*/